* {
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-image: url(assets/background.jpg);
}

body,
html,
footer {
    color: #FFFFFF;
    margin: 0;
    height: 100%;
    width: 100%;
}

body,
h3,
h4,
h5,
H6 {
    font-family: 'Asap', sans-serif;
}

h1,
h2,
nav a:first-child,
footer div:first-child a {
    font-family: 'Noto Serif Display', serif;
}

nav a:first-child,
footer div:first-child a {
    font-size: 1.5rem;
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    text-transform: capitalize;
}

h2 {
    font-size: 3rem;
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    padding-top: 5rem;
    height: 30vh;
}

.container {
    height: auto;
    width: 100%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

i {
    margin: 15px;
}

ul {
    list-style-type: none;
}

nav {
    padding: 1% 5%;
    position: fixed;
    width: 100%;
}

nav,
ul {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    width: 100%;
}

nav ul {
    width: 20%;
}

.socialNetwork ul,
.headerDescr ul,
.frames ul {
    display: flex;
    flex-direction: column;
}

.socialNetwork ul li:first-child {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

header,
nav,
.socialNetwork ul {
    align-items: center;
}

section {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

section div {
    margin: 0 6%;
    width: 30%;
}

button {
    background-color: transparent;
    border: none;
}

h3,
.yellowColor,
button {
    color: #FBD784;
}

body,
footer,
section {
    background-color: #0B1D26;
}

img {
    height: 60vh;
}

.frames ul li {
    margin-top: 2rem;
}

.frames ul {
    text-align: end;
}

.footerInfo ul {
    flex-direction: column;
    padding: 0;
}

.footerInfo li {
    font-weight: 100;
    padding-top: 1rem;
}

.footerInfo {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

main section:first-child {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(6, 16, 21, 1) 84%, rgba(11, 29, 38, 1) 95%);
}

main {
    margin-top: 30rem;
}

section .number {
    justify-content: flex-start;
    display: flex;
    align-items: flex-end;
    text-align: start;
    align-content: flex-start;
    color: gray;
    font-size: 10rem;
    position: absolute;
    width: 100%;
}

.copyright {
    color: gray;
    margin-top: 50%;
}

.arrow img {
    color: #FBD784;
}